html, body {
  background-color: #fafafa;
}

a.explorer-link, .explorer-link {
  color: #1c39bb;
  cursor: pointer;
  &:hover {
    color: #363636;
  }
}

a.navbar-item:hover, a.navbar-item.is-active, a.navbar-link:hover, a.navbar-link.is-active {
  background-color: transparent;
}
