.p-home-title {
  margin-top: 20px;
}

.p-home-blockList {
  width: 100%;
}

.p-home-networkstates {
  display: flex;
  justify-content: space-between;
}

.p-home-networkstate {
  text-align: center;
  width: 100%;
  padding: 40px 0;
  margin: 10px;
  border-radius: 5px;

  &:nth-child(1) {
    background-color: #209cee;
    color: #fff;
  }
  &:nth-child(2) {
    background-color: #23d160;
    color: #fff;
  }
  &:nth-child(3) {
    background-color: #ffdd57;
    color: rgba(0, 0, 0, 0.7);
  }
  &:nth-child(4) {
    background-color: #ff3860;
    color: #fff;
  }

}

.p-home-transactionTable {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.p-home-searchbar {
  margin: 30px 0;
}