.p-home-title {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.p-home-blockList {
  width: 100%;
}

.p-home-networkstate {
  text-align: center;
  padding: 20px 0;
  margin: 20px;
  border-radius: 5px;

  p:nth-child(2) {
    font-weight: bold;
    font-size: 1.1rem;
  }

  &:nth-child(1) {
    background-color: #209cee;
    color: #fff;
  }
  &:nth-child(2) {
    background-color: #23d160;
    color: #fff;
  }
  &:nth-child(3) {
    background-color: #ffdd57;
    color: rgba(0, 0, 0, 0.7);
  }
  &:nth-child(4) {
    background-color: #ff3860;
    color: #fff;
  }

}

.p-home-transactionTable {
  table {
    width: 100%;
  }
}

.p-home-searchbar {
  margin: 30px 0;
}

.p-home-block {
  &:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &:not(:first-child) {
    margin: 5rem 0;
  }

}

.p-home-searchbarTitle {
  text-align: center;
  font-size: 2rem;
}
